<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../vendor/bootstrap3/css/bootstrap.css"/>
    <link rel="stylesheet" href="../codeCss/product.css"/>
    <link href="../codeCss/homePage.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app>
<div class="cart">
    <div class="homePage_t_t">
        <div class="homePage_t_tc">
            <div class="homePage_t_tc1200">
                <!--------ggbf_tc_l--------------->
                <div class="homePage_t_tc_l">
                    <ul class="ul_l">
                        <li><span class="sp_ico1"><a href="../codeHtml/index.html">商城首页</a></span></li>
                        <li class="hidden"><a href="#">请登录</a></li>
                        <li class="hidden">|</li>
                        <li class="hidden"><a href="#">免费注册</a></li>
                        <li class=""><a class="a_yhm" href="#">南风天</a></li>
                        <li class="li_h li_h_wdxx ">
                            <span class="sp_ico2"><span class="sp_ico_1"><a href="#">我的消息（<span class="sp_p4">1111111</span>）</a></span></span>
                            <div class="d_l"></div>
                            <div class="d_r"></div>
                            <!--------ggbf_tc_wdxx--------------->
                            <div class="homePage_t_tc_wdxx1">
                                <div class="homePage_t_tc_wdxx">
                                    <ul>
                                        <li><a href="#"><span>物流通知：</span>你购买的宝贝有新的动态</a></li>
                                        <li><a href="#"><span>促销信息：</span>你关注的宝贝有新的你关注的宝贝有新的动态动态</a></li>
                                        <li><a href="#"><span>物流通知：</span>你购买的宝贝有新的动态</a></li>
                                        <li><a href="#"><span>促销信息：</span>你关注的宝贝有新的动态</a></li>
                                        <li><a href="#"><span>物流通知：</span>你购买的宝贝有新的动态</a></li>
                                    </ul>
                                    <div class="homePage_t_tc_wdxx_b"><a href="#">查看全部</a></div>
                                </div>
                            </div>
                            <div class="homePage_t_tc_wdxx1 hidden">
                                <div class="homePage_t_tc_wdxx homePage_t_tc_wdxx_1">No news</div>
                            </div>
                            <!--------homePage_t_tc_wdxx end--------------->
                        </li>
                    </ul>
                </div>
                <!--------homePage_t_tc_l end--------------->
                <!--------homePage_t_tc_r--------------->
                <div class="homePage_t_tc_r">
                    <ul>
                        <li class="li_h li_h1 li_h_wdwt">

                            <div class="d_l"></div>
                            <div class="d_r"></div>
                            <!--------homePage_t_tc_wdwt--------------->
                            <div class="homePage_t_tc_wdwt1">
                                <div class="homePage_t_tc_wdwt">
                                    <div class="homePage_t_tc_wdwtt">
                                        <ul>
                                            <li><a href="#">已购买商品</a></li>
                                            <li><a href="#">脚印</a></li>
                                        </ul>
                                    </div>
                                    <div class="homePage_t_tc_wdwtb">
                                        <p><a href="#">显示更多</a>我喜欢：</p>
                                        <ul>
                                            <li><a href="#"><img src="../img/img4040.png" width="40" height="40" /></a></li>
                                            <li><a href="#"><img src="../img/img4040.png" width="40" height="40" /></a></li>
                                            <li><a href="#"><img src="../img/img4040.png" width="40" height="40" /></a></li>
                                            <li><a href="#"><img src="../img/img4040.png" width="40" height="40" /></a></li>
                                            <li><a href="#"><img src="../img/img4040.png" width="40" height="40" /></a></li>
                                            <li><a href="#"><img src="../img/img4040.png" width="40" height="40" /></a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <!--------homePage_t_tc_wdwt end--------------->
                        </li>
                        <li><span class="sp_ico3"><a href="#">购物车<span class="sp_p3">4</span>件</a></span></li>
                        <li><a href="#">我的收藏</a></li>
                        <li>|</li>
                        <li class="li_h li_h1 li_h_mjzx">
                            <span class="sp_ico_1"><a href="#">卖家中心</a></span>
                            <div class="d_l"></div>
                            <div class="d_r"></div>
                            <!--------homePage_t_tc_mjzx--------------->
                            <div class="homePage_t_tc_mjzx1">
                                <div class="homePage_t_tc_mjzx">
                                    <ul>
                                        <li><a href="#">我要开店</a></li>
                                        <li><a href="#">已卖出的商品</a></li>
                                        <li><a href="#">出售中的商品</a></li>
                                        <li><a href="#">卖家心得</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--------homePage_t_tc_mjzx end--------------->
                        </li>
                        <li><a href="#">联系客服</a></li>

                    </ul>
                </div>
                <!--------homePage_t_tc_r end--------------->
            </div>
        </div>
    </div>
    <div ng-controller="cartController" class="container " >
        <form class=" form-horizontal form-search " role="search">
            <div  class="form-group ohf">
                <div class=" md-offset-1 md-1 control-label-nav">
                    <a class="icon-shop " href="#">购物商场</a>
                </div>
                <div class=" md-9">
                    <input  type="text" ng-model="search.name" class="form-control input-style" placeholder="请输入要搜索的商品名称">
                </div>
            </div>
        </form>
        <table class="table cart-container" ng-show="cart.length">
            <thead>
            <tr>
                <th>产品编号</th>
                <th>产品名字</th>
                <th>购买数量</th>
                <th>产品单价</th>
                <th>产品总价</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody >
            <tr ng-repeat="item in cart">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td class="form-group">
                    <button type="button" class="btn btn-primary" ng-click="minus(item.id)">-</button>
                    <input type="text" class="cart-input" value="{{item.quantity}}" ng-model="item.quantity"/>
                    <button type="button" class="btn btn-primary" ng-click="add(item.id)">+</button></td>
                <td>{{item.price |currency:'RMB'}}</td>
                <td>{{item.price * item.quantity}}</td>
                <td>
                    <button type="button" ng-click="pay(item.id)" class=" btn btn-danger">付款</button>
                    <button type="button" ng-click="remove(item.id)" class=" btn btn-default">移除</button>

                </td>

            </tr>
            </tbody>
            <tbody>
            <tr>
                <td>
                    <label for="">总价</label>
                </td>
                <td>{{totalPrice() | currency:'RMB'}}</td>
                <td> <label for="">数量</label> </td>
                <td>{{totalQuantity()}}</td>
                <td></td>
                <td >
                    <button type="button" ng-click="payAll()" class=" btn btn-danger">付款</button>
                    <button type="button" class=" btn btn-default" ng-click="removeAll()">清空购物车</button>
                </td>
            </tr>
            </tbody>
        </table>
        <p ng-show="!cart.length" style="text-align: center"><a href="../codeHtml/index.html">您的购物车为空！快去购买吧!</a></p>
    </div>
</div>

</body>
</html>
<script type="text/javascript" src="../vendor/angular/angularjs.js"></script>
<script type="text/javascript" src="../codeJS/cart.js"></script>
